
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div id="header" class="header">
    <p>CodeMpare</p>
</div>
<div id="box1" class="box blurred-bg tinted">
    <div class="content">
    <h1>Compare your Code</h1>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        <div class="leftBlokInput">
            <p>Your name</p>
            <input type="text" name="Person"/>
        </div>
        <div class="rightBlokInput">
            <p>Description codes :</p>
            <input type="text" name="Address"/>
        </div>

        <div>
            <input type="radio" name="Language" value="dotnet">C#
            <input type="radio" name="Language" value="javavm">Java
            <input type="radio" name="Language" value="native">C++
        </div>


        <input type="file" class="button" name="upload"/><br>
        <input type="submit" class="button" name="upload" value="Load"/>
    }
    </div>
</div>
</body>
</html>
