
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResCompare</title>
</head>
<body>
    <div id="header" class="header">
        <p>CodeMpare</p>
    </div>
    <div id="box1" class="boxResult blurred-bg tinted">
        <div class="content">
            <h1>Compare your Code</h1>
            <div>
                <textarea readonly class="leftBlokInput textareaRes">@ViewBag.Result.MainCodeText </textarea>
                <textarea readonly class="rightBlokInput textareaRes">@ViewBag.Result.ChildCodeText</textarea>
            </div>
            <textarea class="downArea textareaRes">
                @foreach (var result in ViewBag.Result.ResultCompare)
                {
                    @result;
                    @ViewBag.Space;
                }
            </textarea>
        </div>
    </div>
</body>
</html>
